
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a asp-action="CreateBook" class=""> Create New reservation</a>
</div>
<div>
    <a asp-action="Details" class=""> Details of Reservation</a>
</div>
<div>
    <a asp-action="GetAll" class=""> Display Akl reservations</a>
</div>