<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/BookingStyleSheet.css" />
</head>
<body>
    <div>

    </div>
    <div>
        @RenderBody()
    </div>
    <script src="/js/BookingJavaScript.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js">
        </script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js">
        </script>
    @await RenderSectionAsync("validationscript", required: false)
</body>
</html>
